.App {
  width: 100%;
  flex-grow: 1;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

/*Making the browser down-size this isn't ideal. Only ship as big as the client needs.*/
/*TODO:DM - downsample and swap logo in repo, be sure to maintain alpha channel*/
.App-logo-small {
  height: 36px;
  width: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
