#Node Dependencies and Related
.npm-cache
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Build Artifacts
build/
.sass-cache

#Test Artifacts
coverage/

##IDE Specific##

#SublimeText
*.sublime-project
*.sublime-workspace

#IntelliJ
.idea/

#Eclipse
.project

##OS Specific##

#OSX
.DS_Store

.gopath~

vendor
bin
.vscode