<footer class="site-footer">
  <div class="container" align="center">
    <p style="font-size: 14px; font-weight: 600"><a href="{{ site.baseurl }}/about">About</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="{{ site.baseurl }}/contact">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://github.com/intuit/katlas">GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp; </p>
    <p style="margin-top: 15px; font-size: 14px;">&#169; 2018. <a href="https://katlas.io">{{ site.author.name }}</a>. <a rel="license" href="https://www.apache.org/licenses/LICENSE-2.0">Apache License</a>.</p>
  </div>
</footer>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascript/anchor.js"></script>
<script>
  anchors.options = {
  placement: 'right',
  };
  anchors.add('h1, h2, h3, h4, h5').remove('.no-anchor');
</script>

<!-- for search -->
<!--
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
docsearch({
apiKey: '0125ba824e95b21d36ae268518067391',
indexName: 'markdownguide',
inputSelector: '#search-input',
debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
-->