<footer class="site-footer" >

	<div class="footer-top" style="padding-top:15px; padding-bottom:15px; background-color:#dddddd; " align="center">
    	<p ><a style=" font-weight:500; color:#767676" href="{{ site.baseurl }}/about">About</a>&nbsp;&nbsp;&nbsp;<a>I</a>&nbsp;&nbsp;<a href="{{ site.baseurl }}/contact">Contact</a>&nbsp;&nbsp;&nbsp;<a>I</a>&nbsp;&nbsp;<a href="https://github.com/intuit/katlas">GitHub</a></p>
 
    </div>

    <div class="footer-bottom" style="background-color:#000" align="center" >
       <p style="padding-top:15px; padding-bottom:10px; font-size:16px; color:#767676">&#169; 2018. <a style="color:#c7c7c7" href="https://katlas.io">{{ site.author.name }}</a>. <a rel="license" style="color:#c7c7c7" href="https://www.apache.org/licenses/LICENSE-2.0">Apache License</a>.</p>
 
    </div>		

</footer>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascript/anchor.js"></script>
<script>
  anchors.options = {
  placement: 'right',
  };
  anchors.add('h1, h2, h3, h4, h5').remove('.no-anchor');
</script>

<!-- for search -->
<!--
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script>
docsearch({
apiKey: '0125ba824e95b21d36ae268518067391',
indexName: 'markdownguide',
inputSelector: '#search-input',
debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
-->