.Home {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.Home-logo-full {
  height: auto;
  width: auto;
  margin: 20px;
}